@{
    ViewData["Title"] = "Driver Details Page";
}

<div class="text-center">
    <h1 class="display-4">Driver Details</h1>
    <hr />
    <form>
        <label for="driverNameInput">Driver Name</label>
        <input type="text" id="driverNameInput" name="driverName"/>

        <input type="submit"/>
    </form>
</div>
