@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <div>
        @ViewData["drivers"]
    </div>
    <br/>
    <hr/>
    <br/>
<ul>
    @foreach (var claim in @User.Claims)
    {
        <li>@claim.ToString();</li>
    }
    </ul>
</div>
