@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>Data Collected</h2>
<p>The Race Timing System will collect some data from you. This data includes the following...</p>

<h2>Who we share your data with</h2>
<p>The race timing system does not sell your data. We utilise Microsoft Azure to store your personal account details for authentication purposes</p>
